# LibreChat Configuration
LIBRECHAT_API_KEY=sk-123...

# PostgreSQL
POSTGRES_PASSWORD=backstage

# Optional: Override defaults
# LIBRECHAT_BASE_URL=https://nos-gpt-staging.oizys.clg.nos.pt/
# LIBRECHAT_AGENT_ID=agent_Kmhmva8A3Z71Qhw9P7kUe
